.AddNewBox 
{

    float: right;
    width: 49%;
    height: auto;
    background-color: #272829;
    border: 2px solid #61677A;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
